@model CompanyInfo
@{
    ViewData["Title"] = "ViewProfile";
    string imgpath = "/Front/no-image.png";
    if (!string.IsNullOrEmpty(Model.LogoPath))
    {
        imgpath = "/Upload/" + Model.LogoPath;
    }
}
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Single Candidate Start -->
<section class="single-candidate-page section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-candidate-box">
                    <div class="single-candidate-img">
                        <img src="@imgpath" alt="Logo" style="height:115px;width:115px" />
                    </div>
                    <div class="single-candidate-box-right">
                        <h4>@Model.Company</h4>
                        @*<img src="assets/img/pl.svg" alt="region" />*@
                        @if (Model.JobMainCategory != null)
                        {
                            <p>@Model.JobMainCategory.Name</p>
                        }
                        @*<div class="single-candidate-rate">
                                <p class="rating-company">4.9</p>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-o"></i></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-candidate-action">
                    <a href="#" class="bookmarks"><i class="fa fa-map-marker"></i>See on map</a>
                    <a href="#" class="candidate-contact"><i class="fa fa-gavel"></i>posted Jobs</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single Candidate End -->
<!-- Single Candidate Bottom Start -->
<div class="single-candidate-bottom-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-9 mx-auto">
                <div class="single-candidate-bottom-left">
                    <div class="single-candidate-widget">
                        <h3>company description</h3>
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="single-candidate-widget">
                        <h3>(@Model.JobAgainst) Open Positions</h3>
                        @{
                            foreach (var item in Model.JobList)
                            {
                                <div class="single-work-history company-single-page">
                                    <div class="single-candidate-list">
                                        <div class="main-comment">
                                            <div class="candidate-text">
                                                <div class="candidate-info">
                                                    <div class="candidate-title">
                                                        <h3><a href="#">@item.Title</a></h3>
                                                    </div>
                                                    <p class="company-state">
                                                        <i class="fa fa-map-marker"></i>
                                                        @item.Street
                                                    </p>
                                                    <p class="open-icon">
                                                        <i class="fa fa-clock-o"></i>
                                                        Full Time
                                                    </p>
                                                    <p class="varify">
                                                        <i class="fa fa-check"></i>
                                                        @item.ShowPayby : $@item.MinPay -$@item.MaxPay
                                                    </p>
                                                </div>
                                                <div class="candidate-text-inner">
                                                    <p>@Html.Raw(item.Description)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @*<div class="single-work-history company-single-page">
                            <div class="single-candidate-list">
                                <div class="main-comment">
                                    <div class="candidate-text">
                                        <div class="candidate-info">
                                            <div class="candidate-title">
                                                <h3><a href="#">C Developer (Senior) C .Net</a></h3>
                                            </div>
                                            <p class="company-state">
                                                <i class="fa fa-map-marker"></i>
                                                Chicago
                                            </p>
                                            <p class="open-icon">
                                                <i class="fa fa-clock-o"></i>
                                                Full Time
                                            </p>
                                            <p class="varify">
                                                <i class="fa fa-check"></i>
                                                Salary : $800-$1200
                                            </p>
                                        </div>
                                        <div class="candidate-text-inner">
                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-3 mx-auto">
                <div class="single-candidate-bottom-right">
                    <div class="single-candidate-widget-2">
                        <a href="#" class="jobguru-btn-2">
                            <i class="fa fa-info-circle"></i>
                            Company Info
                        </a>
                    </div>
                    <div class="single-candidate-widget-2">
                        <ul>
                            <li><i class="fa fa-envelope"></i> @Model.Email</li>
                            <li><i class="fa fa-phone"></i> + @Model.Contact</li>
                            <li><i class="fa fa-globe"></i> @Model.WebsiteUrl</li>
                        </ul>
                    </div>
                    <div class="single-candidate-widget-2">
                        <h3>Social Links</h3>
                        <ul class="candidate-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="single-candidate-widget-2">
                        <h3>Quick Contacts</h3>
                        <form>
                            <p>
                                <input type="text" placeholder="Your Name">
                            </p>
                            <p>
                                <input type="email" placeholder="Your Email Address">
                            </p>
                            <p>
                                <textarea placeholder="Write here your message"></textarea>
                            </p>
                            <p>
                                <button type="submit">Send Message</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Candidate Bottom End -->