@model JobApplyVM
@{
    ViewData["Title"] = "Job-Apply";
}
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Find job</a></li>
                            <li class="active-breadcromb"><a href="#">Apply for a Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="dashboard-right">
                    <form asp-action="ApplyforJob" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="candidate-profile">
                            @{
                                if (Model.user.Type == "Candidate")
                                {
                                    <div class="candidate-single-profile-info">
                                        <div class="resume-box">
                                            <h3>Apply For <a href="/Job/Job-Detail/@Model.Job.SlugName" target="_blank"><u>@Model.Job.Title <i class="fa fa-external-link" aria-hidden="true"></i></u></a></h3>
                                            <div class="single-resume-feild feild-flex-2">
                                                <div class="single-input">
                                                    <label>Apply using</label>
                                                    <select onchange="myapply(this.value)" asp-for="ApplyforJob.AppliedUsing">
                                                        <option value="Web Profile">Web Profile</option>
                                                        <option value="Resume">Resume</option>
                                                    </select>
                                                </div>

                                                <div class="single-input">
                                                    <label>Cover Letter</label>
                                                    <textarea rows="1" cols="2" asp-for="ApplyforJob.CoverLetter"></textarea>
                                                </div>
                                                <div class="single-input" id="profileviewer">
                                                    <label>View your web profile</label>
                                                    <a target="_blank" href="@Model.url">@Model.user.FullName <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submit-resume">
                                            <button type="submit" id="sub">Apply</button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <h2 class="text-danger">You are not elligible for this job..!</h2>
                                }
                            }
                        </div>
                        <input type="hidden"asp-for="ApplyforJob.JobId" value="@Model.Job.Id" />
                        <input type="hidden"asp-for="ApplyforJob.EmployerId" value="@Model.Job.UserId" />
                        <input type="hidden"asp-for="ApplyforJob.CanidateId" value="@Model.canidateId" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Candidate Dashboard Area End -->
<script src="/js/ApplyForJob.js"></script>