@model List<JobDTO>
@{
    ViewData["Title"] = "Find a Job";
}
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li class="active-breadcromb"><a href="#">Find a Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Top Job Area Start -->
<section class="jobguru-top-job-area browse-page section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-3 mx-auto">
                <div class="job-grid-sidebar">
                    <!-- Single Job Sidebar Start -->
                    @*<div class="single-job-sidebar sidebar-location">
                        <h3>location</h3>
                        <div class="job-sidebar-box">
                            <form>
                                <p>
                                    <input type="search" placeholder="Location">
                                </p>
                                <p class="location-value">
                                    <input type="text" value="50">
                                </p>
                                <div class="dropdown">
                                    <button class="btn-dropdown dropdown-toggle" type="button" id="location" data-bs-toggle="dropdown" aria-haspopup="true">km</button>
                                    <ul class="dropdown-menu" aria-labelledby="location">
                                        <li>km</li>
                                        <li>miles</li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>*@
                    <!-- Single Job Sidebar End -->
                    <!-- Single Job Sidebar Start -->
                    @*<div class="single-job-sidebar sidebar-keywords">
                        <h3>Keywords</h3>
                        <div class="job-sidebar-box">
                            <form>
                                <select class="sidebar-category-select" name="states[]" multiple="multiple">
                                    <option value="1">accounting</option>
                                    <option value="2">finance</option>
                                    <option value="3">automotive</option>
                                    <option value="4">construction</option>
                                    <option value="5">photoshop</option>
                                    <option value="6">graphics</option>
                                    <option value="7">After affects</option>
                                    <option value="8">poster design</option>
                                </select>
                            </form>
                        </div>
                    </div>*@
                    <!-- Single Job Sidebar End -->
                    <!-- Single Job Sidebar Start -->
                    <div class="single-job-sidebar sidebar-category">
                        <h3>Category</h3>
                        <div class="job-sidebar-box">
                            <form>
                                <select class="sidebar-category-select-2" name="states[]">
                                    <option value="1">any category</option>
                                    <option value="2">accounting/finance</option>
                                    <option value="3">automotive jobs</option>
                                    <option value="4">construction</option>
                                    <option value="5">design, art & multimedia</option>
                                    <option value="6">education training</option>
                                    <option value="7">restaurent/food</option>
                                    <option value="7">programming/tech</option>
                                    <option value="7">sales/marketing</option>
                                    <option value="7">data science/analysis</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <!-- Single Job Sidebar End -->
                    <!-- Single Job Sidebar Start -->
                    <div class="single-job-sidebar sidebar-location">
                        <h3>Date Posted</h3>
                        <div class="date-post-job job-sidebar-box">
                            <div class="form-group form-radio">
                                <input id="last_hour" name="radio" type="radio">
                                <label for="last_hour" class="inline control-label">last hour</label>
                            </div>
                            <div class="form-group form-radio">
                                <input id="last_24" name="radio" type="radio">
                                <label for="last_24" class="inline control-label">Last 24 hours</label>
                            </div>
                            <div class="form-group form-radio">
                                <input id="last_7" name="radio" type="radio">
                                <label for="last_7" class="inline control-label">Last 7 days</label>
                            </div>
                            <div class="form-group form-radio">
                                <input id="last_14" name="radio" type="radio">
                                <label for="last_14" class="inline control-label">Last 14 days</label>
                            </div>
                            <div class="form-group form-radio">
                                <input id="last_30" name="radio" type="radio">
                                <label for="last_30" class="inline control-label">Last 30 days</label>
                            </div>
                            <div class="form-group form-radio">
                                <input id="last_all" name="radio" type="radio">
                                <label for="last_all" class="inline control-label">all</label>
                            </div>
                        </div>
                    </div>
                    <!-- Single Job Sidebar End -->
                    <!-- Single Job Sidebar Start -->
                    <div class="single-job-sidebar sidebar-type">
                        <h3>job type</h3>
                        <div class="job-sidebar-box">
                            <ul>
                                <li class="checkbox">
                                    <input class="checkbox-spin" type="checkbox" id="Freelance" />
                                    <label for="Freelance"><span></span>Freelance</label>
                                </li>
                                <li class="checkbox">
                                    <input class="checkbox-spin" type="checkbox" id="Full_Time" />
                                    <label for="Full_Time"><span></span>Full Time</label>
                                </li>
                                <li class="checkbox">
                                    <input class="checkbox-spin" type="checkbox" id="Internship" />
                                    <label for="Internship"><span></span>Internship</label>
                                </li>
                                <li class="checkbox">
                                    <input class="checkbox-spin" type="checkbox" id="Part_Time" />
                                    <label for="Part_Time"><span></span>Part Time</label>
                                </li>
                                <li class="checkbox">
                                    <input class="checkbox-spin" type="checkbox" id="Temporary" />
                                    <label for="Temporary"><span></span>Temporary</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Job Sidebar End -->
                    <!-- Single Job Sidebar Start -->
                    <div class="single-job-sidebar sidebar-salary">
                        <h3>Filter by Salary</h3>
                        <div class="job-sidebar-box">
                            <p>
                                <input type="text" id="amount" readonly>
                            </p>
                            <div id="slider"></div>
                        </div>
                    </div>
                    <!-- Single Job Sidebar End -->

                </div>
            </div>
            <div class="col-md-10 col-lg-9 mx-auto">
                <div class="job-grid-right">
                    <div class="browse-job-head-option">
                        <div class="job-browse-search">
                            <form>
                                <input type="search" placeholder="Search Jobs Here...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="job-browse-action">
                            <div class="email-alerts">
                                <input type="checkbox" class="styled" id="b_1">
                                <label class="styled" for="b_1">email alerts for this search</label>
                            </div>
                            <div class="dropdown">
                                <button class="btn-dropdown dropdown-toggle" type="button" id="dropdowncur" data-bs-toggle="dropdown" aria-haspopup="true">Sort By</button>
                                <ul class="dropdown-menu" aria-labelledby="dropdowncur">
                                    <li>Newest</li>
                                    <li>Oldest</li>
                                    <li>Random</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end job head -->
                    <div class="job-sidebar-list-single">
                        @{
                            foreach (var item in Model)
                            {
                                string imgpath = "/Front/no-image.png";
                                if (!string.IsNullOrEmpty(item.logoPath))
                                {
                                    imgpath = "/Upload/" + item.logoPath;
                                }
                                <div class="sidebar-list-single">
                                    <div class="top-company-list">
                                        <div class="company-list-logo">
                                            <a asp-action="JobDetail" asp-controller="JobPost" asp-route-SlugName="@item.SlugName">
                                                <img src="@imgpath" alt="Logo" />
                                            </a>
                                        </div>
                                        <div class="company-list-details">
                                            <h3><a asp-action="JobDetail" asp-controller="JobPost" asp-route-SlugName="@item.SlugName">@item.Title</a></h3>
                                            <p class="company-state">
                                                <i class="fa fa-map-marker"></i>
                                                @{
                                                    if (item.SpecificAddress)
                                                    {
                                                        <span>@item.City , @item.Province</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@item.AddressToAdvertise</span>
                                                    }
                                                }
                                            </p>
                                            <p class="open-icon">
                                                <i class="fa fa-clock-o"></i>
                                                @{
                                                    if (item.DayPassed > 0)
                                                    {
                                                        <span>@item.DayPassed days ago</span>
                                                    }
                                                    else if (item.HourPassed > 0)
                                                    {
                                                        <span>@item.HourPassed hours ago</span>
                                                    }
                                                    else if (item.MinPassed > 0)
                                                    {
                                                        <span>@item.MinPassed minutes ago</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Posted Now</span>
                                                    }
                                                }
                                            </p>
                                            <p class="varify">
                                                <i class="fa fa-check"></i>
                                                @{
                                                    switch (item.ShowBy)
                                                    {
                                                        case "Range":
                                                            <span>Minimum $@item.MinPay.ToString("#,#00") To Maximum $@item.MaxPay.ToString("#,#00") @item.Rate</span>
                                                            break;
                                                        case "Starting Amount":
                                                            <span>Starting From $@item.Amount.ToString("#,#00") @item.Rate</span>
                                                            break;
                                                        case "Maximun Amount":
                                                            <span>Maximun To $@item.Amount.ToString("#,#00") @item.Rate</span>
                                                            break;
                                                        case "Excat Amount":
                                                            <span>Fixed Price $@item.Amount.ToString("#,#00") @item.Rate</span>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                }
                                            </p>
                                        </div>
                                        <div class="company-list-btn">
                                            <a href="#" class="jobguru-btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <!-- end job sidebar list -->
                    @*<div class="pagination-box-row">
                            <p>Page 1 of 6</p>
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>...</li>
                                <li><a href="#">6</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>*@
                    <!-- end pagination -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Job Area End -->