@model CanidateVM
@{
    ViewData["Title"] = "BrowseCandidate";
}
<style>
    .main-comment {
        font-size: 14px;
        padding: 30px 0 0 0px;
        position: relative;
    }
</style>
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Candidates</a></li>
                            <li class="active-breadcromb"><a href="#">Browse Candidates</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Top Job Area Start -->
<section class="jobguru-top-job-area browse-page section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-3 mx-auto">
                <div class="job-grid-sidebar">
                    <!-- Single Job Sidebar Start -->
                    <div class="single-job-sidebar sidebar-location">
                        <h3>location</h3>
                        <div class="job-sidebar-box">
                                <p>
                                    <input type="text" id="address" placeholder="Location">
                                </p>
                        </div>
                    </div>
                    <!-- Single Job Sidebar End -->
                   
                    <!-- Single Job Sidebar Start -->
                    <div class="single-job-sidebar sidebar-category">
                        <h3>Category</h3>
                        <div class="job-sidebar-box">
                                <select class="sidebar-category-select-2" id="category">
                                    <option value="1">any category</option>
                                    <option value="2">accounting/finance</option>
                                    <option value="3">automotive jobs</option>
                                    <option value="4">construction</option>
                                    <option value="5">design, art & multimedia</option>
                                    <option value="6">education training</option>
                                    <option value="7">restaurent/food</option>
                                    <option value="7">programming/tech</option>
                                    <option value="7">sales/marketing</option>
                                    <option value="7">data science/analysis</option>
                                </select>
                        </div>
                    </div>
                    <!-- Single Job Sidebar End -->
                </div>
            </div>
            <div class="col-md-12 col-lg-9  mx-auto">
                <div class="job-grid-right">
                    <div class="browse-job-head-option">
                        <div class="job-browse-search">
                            <form action="#">
                                <input type="text" name="keywords" id="keyword" placeholder="Search candidate Here...">
                                <button type="button" onclick="search();"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- end job head -->
                    <div class="candidate-list-page">
                        @{
                            foreach (var item in Model.CustomResumeList)
                            {
                                <div class="single-candidate-list">
                                    <div class="main-comment">
                                        <div class="candidate-text">
                                            <div class="candidate-info">
                                                <div class="candidate-title">
                                                    <h3><a asp-action="ProfileView" asp-controller="Candidate" asp-route-slugname="@item.SlugName" asp-route-CallBy="@item.CallBy">@item.FirstName @item.LastName (@item.Headline)</a></h3>
                                                </div>
                                            </div>
                                            <div class="candidate-text-inner">
                                                <p>@Html.Raw(item.Summary)</p>
                                            </div>
                                            <div class="candidate-text-bottom">
                                                <div class="candidate-text-box">
                                                    <p class="company-state"><i class="fa fa-map-marker"></i> @item.City</p>
                                                    @*<p class="varify"><i class="fa fa-check"></i> $0 / hr</p>*@
                                                </div>
                                                <div class="candidate-action">
                                                    <a asp-action="ProfileView" asp-controller="Candidate" asp-route-slugname="@item.SlugName" asp-route-CallBy="@item.CallBy" class="jobguru-btn-2">view profile</a>
                                                    <a asp-route-ConnectionId="@item.UserId" asp-action="CreatePeopleHub" asp-controller="ChatApp" class="jobguru-btn-2">Send message</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @*<div class="pagination-box-row">
                        <p>Page 1 of 6</p>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>...</li>
                            <li><a href="#">6</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Job Area End -->
<script src="/js/canfind.js" asp-append-version="true"></script>