@model CanidateVM
@{
    ViewData["Title"] = "Profile";
}
<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-transform: capitalize !important;
        border: 2px solid #e8ecec;
        color: #777 !important
    }
    table, td, th, tr {
        border: 0px solid #25AD60;
        font: -webkit-small-control;
    }

    .cu-table {
        border-collapse: collapse;
        height:30px
    }
    .modal-title{
        color:black;
        font:bolder;
    }
    .ui-autocomplete-loading {
        background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
    }
</style>
<!-- Header Area Start -->
<partial name="_headerwhite" />
<!-- Header Area End -->
<!-- Breadcromb Area Start -->
<section class="jobguru-breadcromb-area">
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-box-pagin">
                        <ul>
                            <li><a href="#">home</a></li>
                            <li><a href="#">Candidate</a></li>
                            <li class="active-breadcromb"><a href="#">Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->
<!-- Candidate Dashboard Area Start -->
<section class="candidate-dashboard-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="dashboard-right">
                    <form action="Javascript:Updateprofile()" enctype="multipart/form-data">
                        <div class="candidate-profile">
                            <div class="candidate-single-profile-info">
                                <div class="resume-box">
                                    <h3>Your profile</h3>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>First Name</label>
                                            <input type="text" asp-for="CustomResume.FirstName">
                                            <span asp-validation-for="CustomResume.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>Last Name</label>
                                            <input type="text" asp-for="CustomResume.LastName">
                                            <span asp-validation-for="CustomResume.LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Country</label>
                                            <select class="country-select select2" asp-for="CustomResume.Country" asp-items="Model.CountryList">
                                                <option value="">select an option</option>
                                            </select>
                                            <span asp-validation-for="CustomResume.Country" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>City</label>
                                            <input asp-for="CustomResume.City">
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Street / Address</label>
                                            <input asp-for="CustomResume.Street" />
                                            <span asp-validation-for="CustomResume.Street" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>Post Code</label>
                                            <input asp-for="CustomResume.PostalCode" />
                                            <span asp-validation-for="CustomResume.PostalCode" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="resume-box">
                                    <h3>Personal Info</h3>

                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label>Head Line</label>
                                            <input asp-for="CustomResume.Headline" />
                                            <span asp-validation-for="CustomResume.Headline" class="text-danger"></span>
                                        </div>
                                        <div class="d-none">
                                            <label>Job Category</label>
                                            <input asp-for="CustomResume.JobCategory" />
                                            <span asp-validation-for="CustomResume.JobCategory" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label>Phone Number</label>
                                            <input asp-for="CustomResume.PhoneNumber" />
                                            <span asp-validation-for="CustomResume.PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="single-input">
                                            <label for="w_screen">Upload Resume</label>
                                            <div class="product-upload">
                                                <p>
                                                    <i class="fa fa-upload"></i>
                                                    Max file size is 3MB
                                                </p>
                                                <input type="file" id="w_screen">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild ">
                                        <div class="single-input">
                                            <label for="Bio">Summary:</label>
                                            <textarea asp-for="CustomResume.Summary"></textarea>
                                        </div>
                                    </div>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input">
                                            <label for="name">I am willing to relocate</label>
                                            <select asp-for="CustomResume.Relocate">
                                                <option value="false">No</option>
                                                <option value="true">Yes</option>
                                            </select>
                                        </div>
                                        <div class="single-input">
                                            <label for="name">Show Profile To public</label>
                                            <select asp-for="CustomResume.ShowtoPublic">
                                                <option value="false">No</option>
                                                <option value="true">Yes</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="resume-box">
                                    <h3>Skills </h3>
                                    <div class="single-resume-feild feild-flex-2">
                                        <div class="single-input ui-widget">
                                            <label>Skill Name</label>
                                            <input id="Skname" placeholder="Skill...." />
                                            <input type="hidden" id="SkId" />
                                        </div>
                                        <div class="single-input">
                                            <label>Level</label>
                                            <select id="Sklevel">
                                                <option value="Standard">Standard</option>
                                                <option value="Experienced">Experienced</option>
                                                <option value="Expert">Expert</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="submit-resume">
                                        <a class="btn bg-success text-white" onclick="AddSkill()">Add Skill</a>
                                    </div>
                                   
                                    <div class="table-responsive" style=" height: 200px; overflow-y: auto;">
                                        <table class="table cu-table" id="skilltable">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Experience</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in Model.CustomResume.ResumeSkillChildList)
                                                    {
                                                        <tr>
                                                            <td>@item.SkillName</td>
                                                            <td>@item.SkillLevel</td>
                                                            <td><a class="btn" id="DeleteButton"><i class="fa fa-trash"></i></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="resume-box">
                                    <h3>Education &nbsp; <a data-bs-toggle="collapse" data-bs-target="#education" aria-expanded="true" aria-controls="education" id="educationclick"><i class="fa fa-plus-circle" id="edclass"></i></a></h3>
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <div id="education" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>Level Of Education</label>
                                                            <select id="leveleducation">
                                                                <option value="">Select</option>
                                                                <option value="High School">High School</option>
                                                                <option value="Certificate">Certificate</option>
                                                                <option value="Bachelor 3 Years">Bachelor 3 Years</option>
                                                                <option value="Master">Master</option>
                                                                <option value="M-Phill">M-Phill</option>
                                                                <option value="PHD">PHD</option>
                                                            </select>
                                                        </div>
                                                        <div class="single-input">
                                                            <label>Field Of Study</label>
                                                            <input type="text" id="filedstudy" />
                                                        </div>
                                                        <div class="single-input">
                                                            <label>School Name</label>
                                                            <input type="text" id="schoolname" />
                                                        </div>
                                                    </div>
                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>Country</label>
                                                            <select id="country" asp-items="Model.CountryList">
                                                                <option value="">select an option</option>
                                                            </select>
                                                        </div>
                                                        <div class="single-input">
                                                            <label>Province</label>
                                                            <input type="text" id="province" />
                                                        </div>
                                                        <div class="single-input">
                                                            <label>City</label>
                                                            <input type="text" id="city" />
                                                        </div>
                                                        <div class="single-input">
                                                            <label>Currently Working</label>
                                                            <select id="enrolled">
                                                                <option value="false">No</option>
                                                                <option value="true">Yes</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>From Month</label>
                                                            <select id="fmonth">
                                                                <option value='Janaury'>Janaury</option>
                                                                <option value='February'>February</option>
                                                                <option value='March'>March</option>
                                                                <option value='April'>April</option>
                                                                <option value='May'>May</option>
                                                                <option value='June'>June</option>
                                                                <option value='July'>July</option>
                                                                <option value='August'>August</option>
                                                                <option value='September'>September</option>
                                                                <option value='October'>October</option>
                                                                <option value='November'>November</option>
                                                                <option value='December'>December</option>
                                                            </select>
                                                        </div>
                                                        <div class="single-input">
                                                            <label>From Year</label>
                                                            <select id="fyear" class="dropdownYear">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>To Month</label>
                                                            <select id="tmonth">
                                                                <option value='Janaury'>Janaury</option>
                                                                <option value='February'>February</option>
                                                                <option value='March'>March</option>
                                                                <option value='April'>April</option>
                                                                <option value='May'>May</option>
                                                                <option value='June'>June</option>
                                                                <option value='July'>July</option>
                                                                <option value='August'>August</option>
                                                                <option value='September'>September</option>
                                                                <option value='October'>October</option>
                                                                <option value='November'>November</option>
                                                                <option value='December'>December</option>
                                                            </select>
                                                        </div>
                                                        <div class="single-input">
                                                            <label>To Year</label>
                                                            <select id="tyear" class="dropdownYear">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="submit-resume">
                                                    <a class="btn btn-primary mb-1" onclick="AddEducation()">Add Education</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table cu-table" id="educationtable">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Subject</th>
                                                    <th>Period</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in Model.CustomResume.ResumeEducationList)
                                                    {
                                                        <tr>
                                                            <td class="d-none">@item.LevelofEducation</td>
                                                            <td class="d-none">@item.FieldofStudy</td>
                                                            <td class="d-none">@item.SchoolName</td>
                                                            <td class="d-none">@item.StudyCountry</td>
                                                            <td class="d-none">@item.StudyCity</td>
                                                            <td class="d-none">@item.CurrentlyEnrolled</td>
                                                            <td class="d-none">@item.FromMonth</td>
                                                            <td class="d-none">@item.FromYear</td>
                                                            <td class="d-none">@item.ToMonth</td>
                                                            <td class="d-none">@item.ToYear</td>
                                                            <td class="d-none">@item.StudyProvince</td>
                                                            <td>@item.LevelofEducation in @item.FieldofStudy</td>
                                                            <td>@item.SchoolName - @item.StudyCity,@item.StudyProvince</td>
                                                            @if (item.CurrentlyEnrolled == true)
                                                            {
                                                                <td>@item.FromMonth @item.FromYear to  @(item.ToMonth + item.ToYear)</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@item.FromMonth @item.FromYear to @item.ToMonth @item.ToYear</td>
                                                            }
                                                            <td><a class="btn" id="DeleteButton"><i class="fa fa-trash"></i></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="resume-box">
                                    <h3>Work Experience &nbsp; <a data-bs-toggle="collapse" data-bs-target="#work" aria-expanded="true" aria-controls="work" id="workclick"><i class="fa fa-plus-circle" id="wclass"></i></a></h3>
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <div id="work" class="accordion-collapse collapse" aria-labelledby="work" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>Job Title</label>
                                                            <input type="text" id="jobtitle" />
                                                        </div>
                                                        <div class="single-input">
                                                            <label>Company</label>
                                                            <input type="text" id="company" />
                                                        </div>
                                                    </div>
                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>Country</label>
                                                            <select id="wcountry" asp-items="Model.CountryList">
                                                                <option value="">select an option</option>
                                                            </select>
                                                        </div>
                                                        <div class="single-input">
                                                            <label>Province</label>
                                                            <input type="text" id="wprovince" />
                                                        </div>
                                                        <div class="single-input">
                                                            <label>City</label>
                                                            <input type="text" id="wcity" />
                                                        </div>
                                                        <div class="single-input">
                                                            <label>Currently Working</label>
                                                            <select id="wenrolled">
                                                                <option value="false">No</option>
                                                                <option value="true">Yes</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>From Month</label>
                                                            <select id="wfmonth">
                                                                <option value='Janaury'>Janaury</option>
                                                                <option value='February'>February</option>
                                                                <option value='March'>March</option>
                                                                <option value='April'>April</option>
                                                                <option value='May'>May</option>
                                                                <option value='June'>June</option>
                                                                <option value='July'>July</option>
                                                                <option value='August'>August</option>
                                                                <option value='September'>September</option>
                                                                <option value='October'>October</option>
                                                                <option value='November'>November</option>
                                                                <option value='December'>December</option>
                                                            </select>
                                                        </div>
                                                        <div class="single-input">
                                                            <label>From Year</label>
                                                            <select id="wfyear" class="dropdownYear">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="single-resume-feild feild-flex-2">
                                                        <div class="single-input">
                                                            <label>To Month</label>
                                                            <select id="wtmonth">
                                                                <option value='Janaury'>Janaury</option>
                                                                <option value='February'>February</option>
                                                                <option value='March'>March</option>
                                                                <option value='April'>April</option>
                                                                <option value='May'>May</option>
                                                                <option value='June'>June</option>
                                                                <option value='July'>July</option>
                                                                <option value='August'>August</option>
                                                                <option value='September'>September</option>
                                                                <option value='October'>October</option>
                                                                <option value='November'>November</option>
                                                                <option value='December'>December</option>
                                                            </select>
                                                        </div>
                                                        <div class="single-input">
                                                            <label>To Year</label>
                                                            <select id="wtyear" class="dropdownYear">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="single-resume-feild ">
                                                        <div class="single-input">
                                                            <label>Description</label>
                                                            <textarea id="wdes"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="submit-resume">
                                                    <a class="btn btn-primary mb-1" onclick="Addwork()">Add work Experience</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table cu-table" id="worktable">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Location</th>
                                                    <th>Period</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in Model.CustomResume.ResumeExperienceList)
                                                    {
                                                        <tr>
                                                            <td class="d-none">@item.JobTitle</td>
                                                            <td class="d-none">@item.Company</td>
                                                            <td class="d-none">@item.JobCountry</td>
                                                            <td class="d-none">@item.JobCity</td>
                                                            <td class="d-none">@item.CurrentlyEnrolled</td>
                                                            <td class="d-none">@item.FromMonth</td>
                                                            <td class="d-none">@item.FromYear</td>
                                                            <td class="d-none">@item.ToMonth</td>
                                                            <td class="d-none">@item.ToYear</td>
                                                            <td class="d-none">@Html.Raw(item.Description)</td>
                                                            <td class="d-none">@item.JobProvince</td>
                                                            <td>@item.JobTitle in @item.Company</td>
                                                            <td>@item.Company - @item.JobCity,@item.JobProvince</td>
                                                            @if (item.CurrentlyEnrolled == true)
                                                            {
                                                                <td>@item.FromMonth @item.FromYear to @(item.ToMonth + item.ToYear)</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@item.FromMonth @item.FromYear to @item.ToMonth @item.ToYear</td>
                                                            }
                                                            <td>@Html.Raw(item.Description)</td>
                                                            <td><a class="btn" id="DeleteButton"><i class="fa fa-trash"></i></a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="submit-resume">
                                    <button type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="CustomResume.Id" />
                        <input type="hidden" asp-for="CustomResume.UserId" />
                        <input type="hidden" asp-for="CustomResume.Email" />
                        <input type="hidden" asp-for="CustomResume.SlugName" />
                        <input type="hidden" asp-for="CustomResume.CallBy" />
                        <input type="hidden" asp-for="CustomResume.ResumeUrlPath" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Candidate Dashboard Area End -->
<script src="~/js/CanProfile.js" asp-append-version="true"></script>
@*<div class="resume-box">
    <h3>company profile</h3>
    <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
            <label for="name">Company Title:</label>
            <input type="text" asp-for="CompanyInfo.Company">
            <span asp-validation-for="CompanyInfo.Company" class="text-danger"></span>
        </div>
        <div class="single-input">
            <label for="c_cat">company category:</label>
            <select asp-for="CompanyInfo.Industry">
                <option value="">Choose Category</option>
                <option value="IT Service">IT Service</option>
                <option value="StartUP">StartUP</option>
                <option value="Corporate">Corporate</option>
            </select>
            <span asp-validation-for="CompanyInfo.Industry" class="text-danger"></span>
        </div>
    </div>
    <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
            <label>Contact</label>
            <input type="text" asp-for="CompanyInfo.Contact">
            <span asp-validation-for="CompanyInfo.Contact" class="text-danger"></span>
        </div>
        <div class="single-input">
            <label>Team Member</label>
            <select asp-for="CompanyInfo.NumberOfEmployee">
                <option value="">select an option</option>
                <option value="1/49">1 to 49</option>
                <option value="50/149">50 to 149</option>
                <option value="150/249">150 to 249</option>
                <option value="250/449">250 to 499</option>
                <option value="500/749">500 to 749</option>
                <option value="750/999">750 to 999</option>
                <option value="1000">1000+</option>
            </select>
        </div>
    </div>
    <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
            <label>Country</label>
            <select class="country-select select2" asp-for="CompanyInfo.Country" asp-items="Model.CountryList">
                <option value="">select an option</option>
            </select>
            <span asp-validation-for="CompanyInfo.Country" class="text-danger"></span>
        </div>
        <div class="single-input">
            <label>City</label>
            <input asp-for="CompanyInfo.City">
        </div>
    </div>
    <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
            <label>Post Code</label>
            <input asp-for="CompanyInfo.PostCode" />
            <span asp-validation-for="CompanyInfo.PostCode" class="text-danger"></span>
        </div>
        <div class="single-input">
            <label>Address</label>
            <input asp-for="CompanyInfo.Address">
        </div>
    </div>
    <div class="single-resume-feild ">
        <div class="single-input">
            <label for="Bio">Description:</label>
            <textarea asp-for="CompanyInfo.Description"></textarea>
        </div>
    </div>
</div>*@

@*<div class="resume-box">
    <h3>social link</h3>
    <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
            <label>
                <i class="fa fa-file-word-o google"></i>
                Company Website
            </label>
            <input asp-for="CompanyInfo.WebsiteUrl">
        </div>

        <div class="single-input">
            <label for="twitter">
                <i class="fa fa-facebook facebook"></i>
                facebook
            </label>
            <input asp-for="CompanyInfo.FacebookUrl">
        </div>
    </div>
    <div class="single-resume-feild feild-flex-2">
        <div class="single-input">
            <label for="twitter">
                <i class="fa fa-twitter twitter"></i>
                twitter
            </label>
            <input asp-for="CompanyInfo.TwitterUrl">
        </div>
        <div class="single-input">
            <label for="linkedin">
                <i class="fa fa-linkedin linkedin"></i>
                linkedin
            </label>
            <input asp-for="CompanyInfo.LinkedinUrl">
        </div>
    </div>
</div>*@